.project-item {
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.project-details {
  padding: 20px;
  width: 40%;
}

.project-image {
  height: 300px;
  width: 45%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-details h3 {
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.project-details p {
  font-family: "Nunito";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #828282;
}

.veiw-project-button {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
}