.main-container {
  padding: 10px 100px;
  background-color: #E7EBF4;

}

.about-section {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 512px;
  height: 420px;
}

.add-projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.input-container {
  margin-bottom: 15px;
}

.input-container input {
  border: 1px solid #fff;
  padding: 5px;
  height: 25px;
  outline: none;
  width: 350px;
  border-radius: 5px;
  margin-top: 3px;
}

.input-container textarea {
  width: 350px;
  border: 1px solid #fff;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 3px;

}

.form-button {
  text-align: right;
}

.projects-button {
  background-color: #FDC435;
  border: 1px solid #E8ECF4;
  outline: none;
  border-radius: 5px;
  height: 44px;
  width: 115px;
  margin: 5px;
}

.linkedin-button {
  background-color: transparent;
  border: 1px solid #000;
  outline: none;
  border-radius: 5px;
  height: 44px;
  width: 115px;
  margin: 5px;
}

/* .about-container {
  width: 480px;
} */

.designation {
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #FDC435;
}

.name {
  font-family: "Playfair Display";
  font-size: 64px;
  font-weight: 700;
}

.details {
  font-family: "Nunito";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #828282;
}

.add-button {
  background-color: #FDC435;
  border: 0;
  outline: none;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
}

.add-projects {
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  position: relative;
}

.add-projects::before {
  border-bottom: 2px solid #FDC435;
  border-radius: 10px;
  content: "";
  position: absolute;
  bottom: -2px;
  width: 50%;
}

.add-projects::before {
  left: 25px;
}

.add-projects::after {
  right: 0;
}

@media screen and (max-width: 767px) {
  .main-container {
    padding: 10px;
  }

  .about-container h3 {
    font-size: 16px;
  }

  .about-container h1 {
    font-size: 20px;
  }

  .profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 100px;
  }

  .about-section {
    justify-content: space-between;
  }

  .add-projects-container {
    margin-top: 5px;
    justify-content: flex-start;
  }

  .input-container {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .input-container input {
    width: 96%;
  }

  .input-container textarea {
    width: 96%;
  }

  .details {
    font-size: 15px;
    line-height: 20px;
  }
}